<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <appSettings>
        <add key="environmenturl" value="https://eksamen-sas.udir.no"/>
        <add key="certificateToUse" value="UDIR.PAS2.Example.Client.Certificates.local.pfx"/>
		<add key="skoleorgno" value="875561162"/>
		<add key="skolenavn" value="Eksempel skole"/>
		<add key="brukernavn" value="skoleadmin"/>
    </appSettings>
</configuration>
